.pic-slide > img {
    width: 1000px;
    height: auto;
}

.pic-slide {
    width: 1000px;
}

.carousel-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.picture-container {
    display: flex;
/*    overflow: hidden;*/
    align-items: center;
}

.img-nav-dots > img {
    width: 50px;
    height: auto;
}

.img-nav-dots > svg {
    width: 50px;
    height: auto;
}

.prev-btn, .next-btn {
    height: 50px;
    width: 50px;
}

.prev-btn {
    background-image: url("menu-left.svg");
}

.next-btn {
    background-image: url("menu-right.svg");
}

button {
    background-color: transparent;
}

svg.selected path {
    fill: blue;
}